.enerbox{
    display: inline-block;
    width: 180px;
}
.pultbox{
    display: inline-block;
    width: 100px;
}
.btnbox {
    width: 100%;
    padding: 2px;
}
.btnbox input {
    width: 100%;
}
.fieldbox{
    display: inline-block;

}
.wind {
    width: 40%;
    min-height: 100px;
    border: 2px solid gray; 
}
.alert {
    width: 100px;
    height: 50px;
    background: blue;
}

.green {
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background: #88c266;
    border: 1px #71a34c solid;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    margin: 1px;
    padding: 5px 5px 4px;
    word-wrap: break-word;
    font-family: Arial,sans-serif;
    cursor: pointer;
}

.hidden {
    display:none;
}

.content-blocker {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(136, 136, 204, 0.5);
    z-index: 4444;
}

.enterbox {
    position: relative;
    z-index: 1;
}
#entertext2{
    margin-left: 90px;;
}

#keyword2,
#keyword3 {
    margin-bottom: 2px;
}
#keyword4,
#keyword_4 {
    margin-bottom: 2px;
}
#paste{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
} 
#replace0 {
    position: absolute;
    top: -21px;
    left: 48px;
    z-index: 2;
}

#replace {
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 2;  
}
#delfirst0 {
    position: absolute;
    top: -21px;
    left: 0;
    z-index: 2;
}
#delfirst{
    position: absolute;
    bottom: -25px;
    left: 0;
    z-index: 2;
}
#delsecond {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 2;
}
#delthird {
    position: absolute;
    bottom: -75px;
    left: 0;
    z-index: 2;
}
#dellast1 {
    position: absolute;
    top: -21px;
    left: 110px;
    z-index: 2;
}
#dellast {
    position: absolute;
    bottom: -25px;
    left: 47px;
    z-index: 2;
}

#val1,
#val2,
#val_3 {
    position: absolute;
    left: 47px;
    z-index: 2;
    background: #71a34c;
}
#val1 {
    bottom: -50px;
}
#val2{
    bottom: -75px;
}

#val_3 {
    bottom: -100px;
}
#val3{
    position: absolute;
    bottom: -125px;
    left: 47px;
    z-index: 2;
    background: rgb(135, 135, 226);
    /* color: #fff;  */
}
#val4{
    position: absolute;
    bottom: -150px;
    left: 47px;
    z-index: 2;
    background: rgb(135, 135, 226);
    /* color: #fff;  */
}

#m {
    position: absolute;
    bottom: -105px;
    left: 0;
    z-index: 2;
}
#w {
    position: absolute;
    bottom: -105px;
    left: 30px;
    z-index: 2;
}
#it {
    position: absolute;
    bottom: -105px;
    left: 60px;
    z-index: 2;
}
#they {
    position: absolute;
    bottom: -130px;
    left: 0;
    z-index: 2;
}
#pult2 {
    position: relative;
    width: 150px;
    display: inline-block;
    z-index: 1;
}
#pult2 input {
    width: 142px;
}
#res1,
#res2,
#res3,
#res4,
#res5 {
    position: absolute;
    right: 0;
    z-index: 3;
}
#res1 {
    top: 19px;
}
#res2 {
    top: 43px;
}
#res3 {
    top: 66px;
}
#res4 {
    top: 107px;
}
#res5 {
    top: 130px;
}
#wsp1 {
    position: absolute;
    top: -21px;
    left: 164px;
    z-index: 2;
}



td {
    border: 1px solid black;
}